*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.sidebar{
    width: 20%;
    background-color: #49108B;
  
}
.content{
    padding: 30px 20px;
}
.logo img{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(222, 222, 222);
    background-color: #F3F8FF;
    border-radius: 100%;
    margin: 0;
    padding: 0;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(100, 100, 100);
    margin-top: 10px ;
    margin-bottom: 12px;   
}
.search{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.search input{
    border: none;
    padding: 12px 0px;
    width: 100%;
    font-size: 18px;
    background-color: transparent;   
    color: #F3F8FF;
    text-transform: capitalize;
}
.search input:focus{
    border-color: #FFE79B;
}
.search i{
    font-size: 30px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    opacity: 0.5;
    color: #F3F8FF;
}
.home .home-list{
  list-style: none;
  margin-top: 16px;
}
.home .home-list a{
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    color: #F3F8FF;
    border-bottom: 2px solid #49108B;
    transition: all 0.3s ease;

}
.home .home-list a:hover{
    border-color: #FFE79B;

}
.home p{
    font-size: 16px;
    color: #F3F8FF;
    margin-top: 6px;
    opacity: 0.6;
}
.app-sidebar{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.app-sidebar .app{
    font-size: 18px;
    text-transform: capitalize;
    color: #F3F8FF;
}
.app-sidebar i{
    font-size: 26px;
    margin-right: 4px;
    color: #F3F8FF;
}
.center{
    width: 80%;
    background-image: linear-gradient(#E26EE5, #7E30E1);
}

.center{
    padding: 50px;
    display: block;
    width: 100%;
}
.navbar ul{
    display: flex;
    gap: 40px;  
    justify-content: center;
    align-content: center;
}
.navbar ul .navbar-list{
    list-style: none;
}
.navbar ul .navbar-list a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #F3F8FF;
}
.center h1{
    text-transform: capitalize;
    text-align: center;
    margin-top: 60px;
    font-size: 33px;
    color: #F3F8FF;
}
.center-img{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 60px;

}
.center-img img{
    width: 180px;
    height: auto;
}
.center-img p{
    font-size: 16px;
    color: #F3F8FF;
    text-transform: capitalize;
}
.center-img.chiln-1{
    margin-top: 14px;
}
.footer{
    background-image: linear-gradient(to bottom right, #E26EE5 , #7E30E1);
    width: 100%;
    height: 20vh;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-col1{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 25%;
    margin-left: 20px;
}
.footer-col1 img{
    width: 100px;
    height: auto;
    display: block;
}
.footer-text{
    margin-left: 20px;
    font-size: 18px;
    text-transform: capitalize;
    color: #F3F8FF;
}
.footer-col1-icon{
    font-size: 20px;
    margin-left: 20px;
    color: #F3F8FF;
}
.footer-col2{
    width: 50%;
    display: block;
    margin-left: 80px;
  
  
}
.footer-col2-icon{
    margin-top: 40px; 
    display: flex;
    justify-content: center;
  
}
.footer-col2-icon i{
    padding: 0 12px;
    font-size: 26px;
    color: #F3F8FF;
}
.footer-col2 .footer-line{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 12px;
}
.footer-col2 .footer-line div{
    color: #F3F8FF;
}
.footer-line .boder input{
    display: inline-block;
    width: 300px;
    background-color: black;
    height: 2px;
   color: #07f617 !important;

}

/* .footer-col2 .footer-line .boder{
    width: 70%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 8px;
    position: relative;
    border-radius: 1px;
} */
/* .footer-col2 .footer-line .boder::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgb(123, 123, 123);
} */
.footer-col3{
    display: flex;
    width: 25%;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
    gap:10px
}
.footer-col3-text{
    font-size: 20px;
    color: #F3F8FF;

}
.footer-col3-icon{
    font-size: 20px;
    color: #F3F8FF;
    position: relative;
} 
.footer-col3-text::before{
    position: absolute; 
    content: "my music";  
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #FFE79B;
    visibility: hidden;
    text-align: end;
    z-index: 2;
    /* padding-right: 60px;   */
    /* margin-right: 100px; */
}
.footer-col3-text::after{
    position: absolute; 
    content: "";
    width: 0;
	height: 0;
    bottom: 0;
    right: 160px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 40px solid  #FFE79B;
    visibility: hidden;
    z-index: 1;

}
.footer-col3-text:hover::after{
    visibility:visible;
}
.footer-col3-text:hover::before{
    visibility: visible;
}
.footer-col3-text:hover{
    color: #07f617;
}
.footer-col3-line{
    width: 160px;
    height: 1px;
    background-color: #F3F8FF;
}










